<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Icons</h3>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let actual of theaters">
                    <td>{(actual.id)}</td>
                    <td>{(actual.location)}</td>
                    <td>{(actual.capacity)}</td>
                    <td>{()}</td>

        <div class="card-body">
          
        </div>
      </div>
    </div>
  </div>
</div>