<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top; background-color: black;">
  <!-- Mask -->
  <span class="mask bg-gradient-dark opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hola {{theUser.name}}</h1>
        <p class="text-white mt-0 mb-5">Esta es tu página de perfil. Puedes ver el progreso que has hecho con tu trabajo y gestionar tus proyectos o tareas asignadas.</p>
        <a href="#!" class="btn btn-info" style="background-color: #600a0a;">Editar perfil</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow" style="background-color: #2e2e2e;">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4" style="background-color: #1b1a1a;">
          <div class="d-flex justify-content-between" >
            <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4" style="background-color: #600a0a;">plan</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-default float-right" style="background-color: #590909;">Mensaje</a>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                
                
                <a href="javascript:void(0)" class="btn btn-sm btn-default float-right" style="background-color: #590909;">mis comentarios</a>

              </div>
            </div>
          </div>
          <div class="text-center text-white">
            <h3 class="text-white">
              {{theUser.name}}<span class="font-weight-light text-white">, 27</span>
            </h3>
            <div class="h5 font-weight-300 text-white">
              <i class="ni location_pin mr-2 text-white"></i>{{theUser.role.name}}
            </div>
            <div class="h5 mt-4 text-white">
              <i class="ni business_briefcase-24 mr-2"></i>Gerente de Soluciones - Oficial de Creative Tim
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>Universidad de Ciencias de la Computación
            </div>
            <hr class="my-4" />
            <p>Ryan — el nombre tomado por Nick Murphy, criado en Melbourne y con base en Brooklyn — escribe, interpreta y graba toda su propia música.</p>
            <a href="javascript:void(0)">Mostrar más</a>
          </div>    
        </div>
      </div>
    </div>
   
  </div>
</div>
