<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Departamentos</h3>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col-1">ID</th>
                <th scope="col-3">Nombre</th>
                <th scope="col-4">Ciudades</th>
                <th scope="col-4">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let departamento of departamentos">
                <td>{{ departamento.id }}</td>
                <td>{{ departamento.nombre }}</td>
                <td>
                  <ul>
                    <li *ngFor="let ciudad of departamento.ciudades">{{ ciudad.nombre }}</li>
                  </ul>
                </td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm">Crear</button>
                  <button type="button" class="btn btn-success btn-sm">Actualizar</button>
                  <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
