<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 *ngIf="mode === 1">visualizar</h3>
          <h3 *ngIf="mode === 2">crear</h3>
          <h3 *ngIf="mode === 3">actualizar</h3>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-4">
                Id:
              </div>
              <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="cremacion.id" disabled>
              </div>
            </div>
            <form [formGroup]="theFormGroup">

              <div class="row">
                <div class="col-4">
                  Ubicación:
                </div>
                <div class="col-8">
                  <input type="text" class="form-control" [(ngModel)]="cremacion.ubicacion"
                  [disabled]="mode==1" formControlName="ubicacion">

                  <br>
                  <div
                  *ngIf="getTheFormGroup.ubicacion.errors &&(getTheFormGroup.ubicacion.dirty|| getTheFormGroup.ubicacion.touched)">
                  <strong *ngIf="getTheFormGroup.ubicacion.errors.required" class="msnError">Requerido</strong>
                  <strong *ngIf="getTheFormGroup.ubicacion.errors.minlength||getTheFormGroup.ubicacion.errors.maxlength" class="msnError">invalido</strong>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  Fecha Hora:
                </div>
                <div class="col-8">
                  <input type="date" class="form-control" [(ngModel)]="cremacion.fecha_hora"
                  [disabled]="mode==1" formControlName="fecha_hora">

                  <br>
                  <div
                  *ngIf="getTheFormGroup.fecha_hora.errors &&(getTheFormGroup.fecha_hora.dirty|| getTheFormGroup.fecha_hora.touched)">
                  <strong *ngIf="getTheFormGroup.fecha_hora.errors.required" class="msnError">Requerido</strong>
                  <strong *ngIf="getTheFormGroup.fecha_hora.errors.minlength||getTheFormGroup.fecha_hora.errors.maxlength" class="msnError">invalido</strong>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                    Servicio:
                </div>
                <div class="col-8">
                    <select class="form-control" formControlName="idServicio" [(ngModel)]="cremacion.servicio.id">
                      <option *ngFor="let option of servicios" [value]="option.id">Descripción: {{option.descripcion}}</option>
                    </select>
                </div>
              </div>
            </form>

            <div class="row">
              <div class="col-4"></div>
              <div class="col-8">
                <button *ngIf="mode==2" (click)="create()" type="button" class="btn btn-create btn-block">crear</button>
                <button *ngIf="mode==3" (click)="update()" type="button" class="btn btn-update btn-block">actualizar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
